@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
}

body {
    background-color: #ffffff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.header {
    padding: 15px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    column-gap: 41px;
}

.header__list-link {
    transition: all .5s ease;
}

.header__list-link:hover {
    color: #07A7EB;
    text-decoration: underline;
}

@supports (column-gap: 10px) {
    .header__list {
        column-gap: 41px;
    }
}

@supports not (column-gap: 10px) {
    .header__list:not(:last-child) {
        margin: 41px;
    }
}

.hero {
    padding: 80px 0 109px;
    background: url("../image/hero.png") left/cover #036092;
    min-height: 650px;
    color: #FFFFFF;
}

.hero__title {
    font-size: 3.125rem;
    line-height: 66px;
    max-width: 618px;
    margin-bottom: 40px;
}

.hero__list {
    margin-bottom: 79px;
}

.hero__list-item {
    position: relative;
    padding-left: 45px;
    font-size: 1.5rem;
}

.hero__list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../image/vector.png");
    width: 24px;
    height: 14px;
}

.hero__list-item--fonts {
    font-weight: 700;
}

.hero__list-item:not(:last-child) {
    margin-bottom: 32px;
}

.button {
    background-color: #07A7EB;
    border-radius: 8px;
    border-style: none;
    outline-style: none;
    color: #FFFFFF;
    font-size: 1.125rem;
}

.button:hover {
    background-color: #45C7FF;
    transition: all .5s ease;
}

.button:active {
    background-color: #017BBF;
    ;
}

.button__hero {
    min-width: 380px;
    padding: 19px 60px;
}

.services {
    padding: 63px 0;
}

.services__title {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.services__list-item {
    flex: 1 1 calc(100%/3);
    position: relative;
    padding: 139px 20px 33px;
    cursor: pointer;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center 27px;
    text-align: center;
}

.services__list-item:hover {
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.item1 {
    background-image: url("../image/import.png");

}

.item1:hover {
    background-image: url("../image/import_hover.png");
    transition: all .5s ease;
}

.item2 {
    background-image: url("../image/broker.png");
}

.item2:hover {
    background-image: url("../image/broker_hover.png");
    transition: all .5s ease;
}

.item3 {
    background-image: url("../image/export.png");
}

.item3:hover {
    background-image: url("../image/export_hover.png");
    transition: all .5s ease;
}

.item4 {
    background-image: url("../image/car.png");
}

.item4:hover {
    background-image: url("../image/car_hover.png");
    transition: all .5s ease;
}

.item5 {
    background-image: url("../image/insurance.png");
}

.item5:hover {
    background-image: url("../image/insurance_hover.png");
    transition: all .5s ease;
}

.item6 {
    background-image: url("../image/lawyer.png");
}

.item6:hover {
    background-image: url("../image/lawyer_hover.png");
    transition: all .5s ease;
}

.item7 {
    background-image: url("../image/china.png");
}

.item7:hover {
    background-image: url("../image/china_hover.png");
    transition: all .5s ease;
}

.item8 {
    background-image: url("../image/harbor.png");
}

.item8:hover {
    background-image: url("../image/harbor_hover.png");
    transition: all .5s ease;
}

.item9 {
    background-image: url("../image/logistics.png");
}

.item9:hover {
    background-image: url("../image/logistics_hover.png");
    transition: all .5s ease;
}

.services__list-link {
    padding: 25px 45px 11px;
}

.services__list-item h3 {
    font-size: 1.375rem;
    margin-bottom: 10px;
}

.services__list-item p {
    min-width: 330px;
    line-height: 22px;
}

.banner-container {
    background: url("../image/banner.png") no-repeat right/cover, #cccccc;
    padding: 65px 77px 85px 15px;
}

.banner__content {
    max-width: 628px;
    margin-left: auto;
}

.banner__content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 26px;
}

.banner__content p {
    line-height: 22px;
}

.banner__content p:not(:last-of-type) {
    padding-bottom: 20px;
}

.banner__content p:last-of-type {
    margin-bottom: 40px;
}

.banner__content span {
    font-weight: 700;
}

.banner__btn {
    font-size: 1.125rem;
    font-weight: 700;
    color: #07A7EB;
    padding: 19px 32px;
    border: 3px solid #07A7EB;
    border-radius: 8px;
    outline-style: none;
}

.banner__btn:hover {
    background-color: #07A7EB;
    color: #FFFFFF;
    transition: all .5s ease;
}

.banner__btn:active {
    background-color: #017BBF;
    color: #FFFFFF;
    border: 3px solid #017BBF;
}

.partners {
    padding: 63px 0 66px;
}

.partners__title {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

.partners__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.partners__logo img {
    max-width: 200px;
    width: 100%;
}

.form {
    background: linear-gradient(180deg, #073B79 0%, rgba(3, 42, 89, 0) 64.06%), url(../image/bg_form.png);
    padding: 65px 0 94px;
}

.form h2 {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

.form__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form__group input {
    padding: 19px 18px 19px 46px;
    border-radius: 8px;
    max-width: 384px;
}

.fom__group textarea {
    resize: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    margin-bottom: 24px;
}

textarea {
    padding: 19px 17px 17px;
    resize: none;
    border-radius: 8px;
}

textarea::placeholder {
    font-size: 1.25rem;
    color: #C4C4C4;
}

.button__form {
    padding: 19px 147px;
}

.contacts {
    padding: 63px 0 101px;
}

.contacts-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.contacts__title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 73px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
}

.contacts__list span {
    font-size: 1.125rem;
    font-weight: 700;
    padding-left: 60px;
}

.contacts__list-item {
    padding-left: 94px;
    background-repeat: no-repeat;
    background-position: 60px 0;
}

.item__adress {
    background-image: url(../image/icon_address.png);
}

.item__tell {
    background-image: url(../image/icon_phone.png);
}

.item__email {
    background-image: url(../image/icon_email.png);
}