@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.header {
    padding: 15px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__list {
    display: flex;
    column-gap: 41px;
}

.header__list-item {
    white-space: nowrap;
}

.header__list-link {
    transition: all .5s ease;
}

.header__list-link:hover {
    color: #07A7EB;
    text-decoration: underline;
}

@supports (column-gap: 10px) {
    .header__list {
        column-gap: 41px;
    }
}

@supports not (column-gap: 10px) {
    .header__list:not(:last-child) {
        margin: 41px;
    }
}

.hero {
    padding: 80px 0 109px;
    background: url("../image/hero.jpg") left/cover #036092;
    min-height: 650px;
    color: #FFFFFF;
}

.hero__title {
    font-size: 3.125rem;
    line-height: 66px;
    max-width: 618px;
    margin-bottom: 40px;
}

.hero__list {
    margin-bottom: 79px;
}

.hero__list-item {
    position: relative;
    padding-left: 45px;
    font-size: 1.5rem;
}

.hero__list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../image/vector.png");
    width: 24px;
    height: 14px;
}

.hero__list-item--fonts {
    font-weight: 700;
}

.hero__list-item:not(:last-child) {
    margin-bottom: 32px;
}

.button {
    background-color: #07A7EB;
    border-radius: 8px;
    border-style: none;
    outline-style: none;
    color: #FFFFFF;
    font-size: 1.125rem;
}

.button:hover {
    background-color: #45C7FF;
    transition: all .5s ease;
}

.button:active {
    background-color: #017BBF;
    ;
}

.hero__btn {
    max-width: 380px;
    padding: 19px 60px;
    width: 100%;
}

.services {
    padding: 63px 0;
}

.services__title {
    margin: 0 0 54px;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.services__list-item {
    flex: 1 1 calc(100%/3);
    position: relative;
    padding: 139px 20px 33px;
    cursor: pointer;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center 27px;
    text-align: center;
}

.services__list-item:hover {
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.item__import {
    background-image: url("../image/import.svg");

}

.item__import:hover {
    background-image: url("../image/import_hover.svg");
    transition: all .5s ease;
}

.item__broker {
    background-image: url("../image/broker.svg");
}

.item__broker:hover {
    background-image: url("../image/broker_hover.svg");
    transition: all .5s ease;
}

.item__export {
    background-image: url("../image/export.svg");
}

.item__export:hover {
    background-image: url("../image/export_hover.svg");
    transition: all .5s ease;
}

.item__car {
    background-image: url("../image/car.svg");
}

.item__car:hover {
    background-image: url("../image/car_hover.svg");
    transition: all .5s ease;
}

.item__insurance {
    background-image: url("../image/insurance.svg");
}

.item__insurance:hover {
    background-image: url("../image/insurance_hover.svg");
    transition: all .5s ease;
}

.item__lawyer {
    background-image: url("../image/lawyer.svg");
}

.item__lawyer:hover {
    background-image: url("../image/lawyer_hover.svg");
    transition: all .5s ease;
}

.item__china {
    background-image: url("../image/china.svg");
}

.item__china:hover {
    background-image: url("../image/china_hover.svg");
    transition: all .5s ease;
}

.item__harbor {
    background-image: url("../image/harbor.svg");
}

.item__harbor:hover {
    background-image: url("../image/harbor_hover.svg");
    transition: all .5s ease;
}

.item__logistics {
    background-image: url("../image/logistics.svg");
}

.item__logistics:hover {
    background-image: url("../image/logistics_hover.svg");
    transition: all .5s ease;
}

.services__list-link {
    padding: 25px 45px 11px;
}

.services__list-item h3 {
    font-size: 1.375rem;
    margin-bottom: 10px;
}

.services__list-item p {
    max-width: 330px;
    min-width: 250px;
    line-height: 22px;
    margin: 0 auto;
}

.banner-container {
    background: url("../image/banner.jpg") no-repeat right/cover, #cccccc;
    padding: 65px 77px 85px 15px;
}

.banner__content {
    max-width: 628px;
    margin-left: auto;
}

.banner__content h2 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 26px;
}

.banner__content p {
    line-height: 22px;
}

.banner__content p:not(:last-of-type) {
    padding-bottom: 20px;
}

.banner__content p:last-of-type {
    margin-bottom: 40px;
}

.banner__content span {
    font-weight: 700;
}

.banner__btn {
    font-size: 1.125rem;
    font-weight: 700;
    color: #07A7EB;
    padding: 19px 0;
    border: 3px solid #07A7EB;
    border-radius: 8px;
    outline-style: none;
    width: 100%;
}

.banner__btn:hover {
    background-color: #07A7EB;
    color: #FFFFFF;
    transition: all .5s ease;
}

.banner__btn:active {
    background-color: #017BBF;
    color: #FFFFFF;
    border: 3px solid #017BBF;
}

.partners {
    padding: 63px 0 66px;
}

.partners__title {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
}

.partners__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.partners__logo img {
    max-width: 200px;
    width: 100%;
}

.form {
    background: linear-gradient(180deg, #073B79 0%, rgba(3, 42, 89, 0) 64.06%), url(../image/bg_form.jpg);
    padding: 65px 0;
}

.form h2 {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 63px;
}

.form__group {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 794px;
    margin: 0 auto;
    gap: 24px;
}

/*
!!!Запитати за правила!!!

@supports (gap: 24px) {
    .form__group {
        gap: 24px;
    }
}

@supports not (gap: 24px) {
    .form__group:not(:nth-of-type(2n)) {
        margin: 0 24px 24px 0;
    }
}*/

.form__group-label {
    max-width: 384px;
    width: 100%;
    position: relative;
}

.form__group-label::before {
    content: " ";
    display: block;
    position: absolute;
    top: 19px;
    left: 21px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.form__from::before {
    background-image: url(../image/icon_from_where.png);
}

.form__where::before {
    background: url(../image/icon_from_where.png);
}

.form__name::before {
    background: url(../image/icon_user.png);
}

.form__phone_number::before {
    background: url(../image/icon_phone.png);
}

.form__group input {
    padding: 19px 18px 19px 46px;
    border-radius: 8px;
    width: 100%;
}

.form__group textarea {
    resize: none;
    border-radius: 8px;
    width: 100%;
    padding: 19px 17px 17px;
}

.form__group textarea::placeholder {
    font-size: 1.25rem;
    color: #C4C4C4;
}

.form__btn {
    width: 100%;
    padding: 19px 0;
}

.contacts {
    padding: 63px 0 101px;
}

.contacts-container {
    display: flex;
    justify-content: start;
}

.contacts__iframe {
    margin-right: 60px;
}

.contacts__title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
    padding-bottom: 73px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__list-title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 17px;

}

.contacts__list-item {
    padding-left: 37px;
    background-repeat: no-repeat;
}

.contacts__list-link {
    font-size: 1.375rem;
}

.item__address {
    background-image: url(../image/icon_address.png);
}

.item__tell {
    background-image: url(../image/icon_phone.png);
    padding-bottom: 17px;
}

.item__email {
    background-image: url(../image/icon_email.png);
}

.footer {
    background: #E9F8FF;
    padding: 53px 0 35px;
}

.footer__info {
    display: flex;
    padding-bottom: 49px;
}

.footer__logo-link {
    padding-right: 100px;
}

.footer__title {
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 25px;
}

.footer__block {
    max-width: 250px;
    width: 100%;
}

.footer__list-item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__list-item span {
    line-height: 22px;
}

.footer__network__list {
    display: flex;
}

.title__network {
    padding-top: 33px;
}

.footer__network__list li {
    margin-right: 19px;
}

.footer-btn {
    width: 100%;
    padding: 19px 0;
    margin-top: 29px;
}

.footer__conditions {
    border-top: solid 1px #95CEE7;
}

.footer__conditions-info {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer__conditions-list {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    width: 100%;
}

.footer__list-link {
    transition: all .5s ease;
}

.footer__list-link:hover {
    color: #07A7EB;
    text-decoration: underline;
}


@media screen and (max-width: 1350px) {
    .container {
        max-width: 93%;
    }
}

@media screen and (max-width: 860px) {

    /* HEADER */
    .header__nav {
        width: 100%;
        order: 1;
    }

    .header__list {
        flex-direction: column;
        text-align: center;
    }

    .header__list li:not(:last-child) {
        margin-bottom: 10px;
    }

    /* FORM */

    .form__group {
        justify-content: center;
    }

    .contacts-container {
        flex-direction: column;
    }

    .contacts__iframe {
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .contacts__list {
        margin: 0 auto;
    }

    .contacts__list-link {
        font-size: 1.2rem;
}

.item__address {
    margin-bottom: 15px;
}

.footer__info {
    
}
}

@media screen and (max-width: 420px) {

    .header__container {
        max-width: 95%;
        justify-content: space-between;
    }

    .hero__title {
        font-size: 2rem;
        line-height: 1.6;
        text-align: center;
    }

    .banner-container {
        padding: 25px;
    }

    .banner__content h2 {
        font-size: 2.1rem;
        line-height: 1.2;
        text-align: center;
    }

    .banner__content p {
        text-align: center;
        line-height: 27px;
    }

    .partners__title {
        font-size: 1.8rem;
    }

    .partners__logo {
        justify-content: center;
    }

    .contacts__title {
        font-size: 1.7rem;
        padding-bottom: 50px;
    }
}