@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.header {
    padding: 15px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    column-gap: 41px;
}

.header__list-link {
    transition: all .5s ease;
}

.header__list-link:hover {
    color: #07A7EB;
    text-decoration: underline;
}

@supports (column-gap: 10px) {
    .header__list {
        column-gap: 41px;
    }
}

@supports not (column-gap: 10px) {
    .header__list:not(:last-child) {
        margin: 41px;
    }
}

.hero {
    padding: 80px 0 109px;
    background: url(../image/hero.png) left/cover;
    min-height: 650px;
    color: #FFFFFF;
}

.hero__title {
    font-size: 3.125rem;
    line-height: 66px;
    max-width: 618px;
    margin-bottom: 40px;
}

.hero__list {
    margin-bottom: 79px;
}

.hero__list-item {
    position: relative;
    padding-left: 45px;
    font-size: 1.5rem;
}

.hero__list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../image/Vector.png);
    width: 24px;
    height: 14px;
}

.hero__list-item--fonts {
    font-weight: 700;
}

.hero__list-item:not(:last-child) {
    margin-bottom: 32px;
}

.button {
    background-color: #07A7EB;
    border-radius: 8px;
    border-style: none;
    outline-style: none;
    color: #FFFFFF;
    font-size: 1.125rem;
}

.button:hover {
    background-color: #45C7FF;
}

.button:active {
    background-color: #017BBF;;
}

.button1 {
    min-width: 380px;
    padding: 19px 60px;
}

.services {
    padding: 63px 0 ;
}

.services__title {
    margin: 0 0 54px;
    font-weight: 400;
    font-size: 2.25rem;
    text-align: center;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.services__list-item {
    display: flex;
    flex: 1 1 calc(100%/3);
    position: relative;
    padding: 139px 0 33px;
    background-image: url("../image/car.png");
    background-repeat: no-repeat;
    background-position: center 27px;
    border-radius: 8px;
    cursor: pointer;
}

.services__list-item:hover {
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    background-image: url("../image/car_hover.png");
}

.services__list-item--title {
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
}

.services__list-item a img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.services__list-item a h3 {
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.services__list-link {
    width: 100%;
}

.services__list-item a p {
    text-align: center;
    line-height: 22px;
    margin: 0 auto;
    max-width: 330px;
}

.banner-container {
    background: url(../image/banner.png) right/cover;
    padding: 65px 77px 85px 0;
}

.content {
    max-width: 628px;
    margin-left: auto;
}

.banner__title {
}

.banner__title h2 {
    font-size: 2.25rem;
    line-height: 48px;
    text-align: left;
    margin-bottom: 26px;
}

.banner__paragraph {
    line-height: 22px;
}

.banner__paragraph p:not(:last-child) {
    margin-bottom: 25px;
}

.banner__paragraph p:nth-child(1) {
    font-weight: 700;
}

.banner__paragraph span:only-child {
    font-weight: 700;
}

.banner__btn {
    color: #07A7EB;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 19px 32px;
    margin-top: 40px;
    border: 3px solid #07A7EB;
    box-sizing: border-box;
    border-radius: 8px;
    outline-style: none;
}

.banner__btn:hover {
    color: #FFFFFF;
    background: #07A7EB;
}

.banner__btn:active {
    color: #FFFFFF;
    background-color: #017BBF;
    border: 3px solid #017BBF;
}

.partners {
    margin-bottom: 66px;
}

.partners__title h2 {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    padding-top: 63px;
    margin-bottom: 50px;
}

.partners__logo img:not(:nth-child(5n)) {
    padding-right: 50px;
}

.form-group {
    background: url(../image/bg_form.png);
    min-height: 640px;
}

.form__title {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    padding-top: 63px;
}

.button2 {
    padding: 19px 147px;
}
